  /*  
    0 root
    1 resets
      1.1 links
      1.2 buttons
    2 general
      2.1 colors
      2.2 fonts
      2.3 spacing
      2.4 display
      2.5 utility
      2.6 borders
    3 layout
      3.1 header
      3.2 main
      3.3 footer
      3.4 feature
    4 custom classes
      4.1 card
      4.2 btn
      4.3 tag
      4.4 square
      4.5 spacer
    5 components
      5.1 experience
      5.2 project
      5.3 featured project

  */

  /*=== 0 root ========================*/

  :root{
    --space-s: 5px;
    --space-base: 10px;
    --space-m: 20px;
    --space-l: 25px;

    --color-dark: #090439;
    --color-primary: #4330DF;
    --color-secondary: #21DEE6;
    --color-accent: #EEDBE5;
    --color-light-primary: #A2AAFB;
    --color-light-secondary: #E5D789;
    --color-very-light: #dde1e4;
    --color-text: #212529;
    --color-background: #e5e8ef;

    --shadow-base: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --shadow-s: 0px 2px 4px rgba(0, 0, 0, 0.25);

    --page-width: 960px;
  }
  /*===================================*/
  /*=== 1 resests =====================*/
  /*** 1.1 links ***********************/
  a, a:hover, a:active, a:visited {
    color: var(--color-text)
  }
  /*************************************/
  /*** 1.2 buttons *********************/
  button{
    background: none;
    border: 1px solid var(--color-primary);
    border-radius: var(--space-base);
    padding: var(--space-base);
    display: inline;
  }
  button:hover{
    opacity: 0.5;
    cursor: pointer;
  }
  button:active, button:focus{
    outline: none;
  }
  /*************************************/
  /*** 1.3 text ************************/

  /*************************************/
  /*===================================*/
  /*=== 2 general =====================*/
  /*** 2.1 colors **********************/
  .color-dark{
    color: var(--color-dark);
  }
  .color-text{
    color: var(--color-text);
  }
  /*************************************/
  /*** 2.2 fonts ***********************/

  /*************************************/
  /*** 2.3 spacing *********************/
  .margin-top-base{
    margin-top: var(--space-base);
  }
  .margin-left-base{
    margin-left: var(--space-base);
  }
  .margin-right-base{
    margin-right: var(--space-base);
  }
  .margin-bottom-base{
    margin-bottom: var(--space-base);
  }
  .margin-base{
    margin: var(--space-base);
  }
  /*************************************/
  /*** 2.4 display *********************/
  .flex {
    display: flex;
  }
  .inline{
    display: inline;
  }
  .inline-block{
    display: inline-block;
  }
  /*************************************/
  /*** 2.5 utility *********************/
  .shadow{
    box-shadow: var(--shadow-base);
  }

  .unset{
    all: unset;
  }

  .full-width{
    width: 100%;
  }

  .fit-content{
    height: fit-content;
    width: fit-content;
  }

  /*************************************/
  /*** 2.6 borders *********************/

  /*************************************/
  /*===================================*/
  /*=== 3 layout ======================*/
  /*** 3.0 layout **********************/
  .layout{
    flex-direction: column;
    align-items: center;
    background-color: var(--color-background);
    z-index: -1;
    min-height: 100vh;
  }

  /*************************************/
  /*** 3.1 header **********************/
  header{
    background-color: var(--color-dark);
    width: 100%;
    padding: var(--space-base);
    top: 0;
    position: sticky;
    z-index: 999;
    justify-content: center;
  }

  header .title {
    margin-right: var(--space-l);
    color: var(--color-very-light)
  }

  header .title:hover{
    text-decoration: none;
  }

  header a{
    margin-right: var(--space-base);
  }

  header .nav-wrapper{
    width: 100%;
    max-width: var(--page-width);
  }
  /*************************************/
  /*** 3.2 main ************************/
  main {
    padding: var(--space-m);
    max-width: calc(var(--page-width) + var(--space-m) * 2);
    width: 100%;
    box-shadow: var(--shadow-base);
    background-color: white;
  }
  /*************************************/
  /*** 3.3 footer **********************/

  /*************************************/
  /*** 3.3 footer **********************/
  /*************************************/
  /*** 3.4 feature *********************/
  .feature-wrapper{
    position: relative;
    overflow: hidden;
    z-index: 1;
    max-width: var(--page-width);
  }



  .feature-image {
    position: absolute;
    overflow: hidden;
    z-index: -1;
    top: 0;
    height: 100%;
    width: 100%;
  }

  .feature-image .gatsby-image-wrapper{
    height: 100%;
  }
  
  .feature-image:only-child{
    height: 450px;
    position: relative;
    cursor: pointer;
  }

  .feature-image:only-child.fit-content{
    height: 100%;
  }

  .feature-image .icon {
    position: absolute;
    float: right;
    bottom: 0;
    right: 0;
    margin: var(--space-m);
    color: var(--color-text);
    background-color: var(--color-very-light);
    transition: transform 0.2s ease;
    width: 2rem;
    border-radius: 999px;
    padding: var(--space-s);
  }

  .feature-image:only-child.fit-content .icon{
    transform: rotate(180deg);
  }

  .feature-image:not(:only-child) .icon{
    display: none;
  }

  .feature-content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--space-l);
    padding-top: var(--space-l);
    width: 100%;
  }

  .feature-content:only-child {
    background-color: var(--color-dark);
  }

  .feature-content .gatsby-image-wrapper{
    width: 250px;
    border-radius: 999px;
  }

  /*************************************/
  /*===================================*/

  /*=== 4 custom classes ==============*/
  /*** 4.1 card ************************/
  .card{
    padding: 10px;
  }

  /*************************************/
  /*** 4.2 btn *************************/
  .btn{
    border: none;
    padding: var(--space-base) var(--space-m);
    margin: 0 var(--space-s);
    border-radius: 999px;
  }
  /*************************************/
  /*** 4.3 tag *************************/
  .tag{
    border-radius: 999px;
    padding: var(--space-s) var(--space-base);
    background-color: #d0d0d0;
    box-shadow: var(--shadow-s);
  }

  .tag{
    margin-right: var(--space-s);
  }

  /*************************************/
  /*** 4.4 square **********************/

  .square {
    position: relative;
    overflow: hidden;
  }

  .square:before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  .square > .square-content{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .square > .square-content > *{
    width: 100%;
    height: 100%;
  }
  /*************************************/
  /*** 4.5 spacer **********************/
  .spacer{
    font-size: 0.8rem;
    border-bottom: 1px solid var(--color-very-light);
    margin-bottom: var(--space-s);
  }
  /*************************************/
  /*** 4.5 scale ***********************/
  .scale {
    transform: scale(1);
  }

  .scale:hover {
    transform: scale(1.01);
    transition: transform 0.2s ease;
  }
  /*************************************/
  /*===================================*/
  /*=== 5 components ==================*/
  /*** 5.1 experience ******************/
  .experience > div:not(:last-child){
    border-bottom: 1px solid var(--color-very-light);
  }

  .experience > div{
    padding: 10px 0;
  }
  /*************************************/
  /*** 5.2 projects ********************/
  .project .square{
    border-radius: 999px;
  }

  .project .square{
    width: 100px;
  }

  .project .spacer a{
    float: right;
  }

  .project .spacer a:hover,
  .card:hover .project .spacer a{
    text-decoration: underline;
  }

  /*************************************/
  /*** 5.2 featured project ************/
  .featuredProductWrapper{
    margin: var(--space-s);
    padding: var(--space-s);
  }
  .featuredProductWrapper:hover{
  }
  /*************************************/
  /*===================================*/



  /*************************************/



  /*** welcome *************************/

  .welcome-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  /*************************************/


  


